<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practice of Challange-6</title>

    <style>
	.container{
		background-color: black;
		margin-left: auto;
		margin-right: auto;
		border-radius: 5px;
	}

	.rows{
		display: flex;
	}

	.columns{
		background-color: green;
		width: 30%;
		margin: 3px;
		padding: 8px;
		border-radius: 5px;
	}

	#button{
		background-color: grey;
		color: white;
		text-align: center;
	}
	#button:hover{
		mouse: pointer;
	}

    </style>
</head>

<body>
	<div class = "container">
		<div class = "rows">
			<div class = "columns">
				<img src="Harsh.jpg" alt = "Harsh Pachani" height = 100px width = 100px>
				<h1>Seamlessly visualize quality</h1>
				<p>Collaboratively administrate empowered markets via plug-and-play networks</p>
				<input type = "button" value = "Here's why" id = "button">
			</div>
		
			<div class = "columns">
				<img src="Harsh.jpg" alt = "Harsh Pachani" height = 100px width = 100px>
				<h1>Seamlessly visualize quality</h1>
				<p>Collaboratively administrate empowered markets via plug-and-play networks</p>
			</div>
		
			<div class = "columns">
				<img src="Harsh.jpg" alt = "Harsh Pachani" height = 100px width = 100px>
				<h1>Seamlessly visualize quality</h1>
				<p>Collaboratively administrate empowered markets via plug-and-play networks</p>
			</div>

		</div>
	</div>
</body>
</html>-->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap" rel="stylesheet">
<!--embeddee google fonts link-->
<link rel = "stylesheet" href = "Challange-6.css">
<title>Flexbox 2</title>
</head>

<style>
    /*giving the background colour grey shade*/
    body
    {
        background-color: rgba(212, 205, 195, 0.637);
    }

   
</style>
<body>
    <h1>Destination</h1>
    <!--in this code i have divided the entire layout into 2 rows:row 1,row 2.  
        taking a div for resp rows , i then took div for respective box with class name box
        i let the image adjust to the actual box size and for the sub-heading,para,button i took another div with class:text-->
    <div class="row1">
        <div class="box">
            <img src="https://img.wallpapersafari.com/desktop/1920/1080/33/89/t6AcMp.jpg" width="100%"> <!--width i have taken 100% as i wanted the image to occupy the entire 100% space of its parent ie the box div-->
            <div class="text">
            <h2>Seamlessly visualise quality</h2>
            <p>Collaboratively  administrative empowered markets via plug -and- play networks.</p>
            <input type="button" value="Here's why">
            </div>
        </div>

        <!--similarly i have followed this procedure f0or all other boxes-->
        <div class="box"  style="margin-top:0%;"><!--in the example the middle boxes were a little higher up in the layout so i had to reinitialise the top margin value-->
            <img src="https://i.pinimg.com/736x/2f/8a/be/2f8abea595887491d2e970ba8443bf0f.jpg" width="100%">
            <div class="text">
                <h2>Seamlessly visualise quality</h2>
                <p>Collaboratively  administrative empowered markets via plug -and- play networks.</p>
                <input type="button" value="Here's how">
                </div>
        </div> 

        

        <div class="box" style="margin-top:4%">
            <img src="https://wallpaperaccess.com/full/2272665.jpg" width="100%"><!--in the example the right boxes were a little lower than the left box in the layout so i had to reinitialise the top margin value-->
            <div class="text">
                <h2>Dramatically Procastinate</h2>
                <p>Completely synergise resource taxing relationships via premier niche markets</p>
                <input type="button" value="Read more">
                </div>
        </div>

    </div>
    <!--we know that div is a block level tag so it makes the next data entry continue from the next line hence here ends the div of row 1 and the div of row 2 starts -->
    <div class="row2" style="margin-top: 5%;">
        <div class="box">
            <img src="https://www.designyourway.net/blog/wp-content/uploads/2019/02/aesthetic-wallpaper-1.jpg" width="100%">
            <div class="text">
            <h2>Best in class</h2>
            <p>Imagine jumping into the boat and just letting it sail wherever the wint takes you...</p>
            <input type="button" value="Just do it">
            </div>
        </div>

        <div class="box" style="margin-top:0%">
            <img src="https://swall.teahub.io/photos/small/13-136141_nature-full-hd-wallpaper-aesthetic-background-desktop-hd.jpg" width="100%">
            <div class="text">
            <h2>Dynamically innovate supply chains</h2>
            <p>Holisticly predominate extensible testing procedures for reliable supply chains</p>
            <input type="button" value="Here's why">
            </div>
        </div>

        <div class="box" style="margin-top: 4%;">
            <img src="https://www.10wallpaper.com/wallpaper/medium/1511/Purple_loch_rusky_lake-HD_Widescreen_Wallpaper_medium.jpg" width="100%">
            <div class="text">
            <h2>Sanity check</h2>
            <p>Objectively innovate empowered manufactured products whereas paralel platforms.</p>
            <input type="button" value="Stop here">
            </div>
        </div>

    </div>
</body>
</html>