body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: linear-gradient(to right, #333399, #ff00cc);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card{
    
}