*{
    box-sizing: border-box;
}

.container{
    display: grid;
    grid-template-columns: minmax(300px, auto)1fr;
    grid-template-areas: "docMenu docTutorial";
}

.docMenu{
    grid-area: "docMenu";
    display: flex;
    flex-direction: column;
}

div a{
    text-decoration: none;
    border: 1px solid black;
    margin: 2px;
    width: 60%;
}

.docTutorial{
    grid-area: "docTutorial";
}